<div class="work"><%=image_tag("project1.jpg", :alt => "IDA", :size => "300x300")%></div>
<div class="work"><%=image_tag("project2.jpg", :alt => "IDA", :size => "300x300")%></div>
<div class="work"><%=image_tag("project3.jpg", :alt => "IDA", :size => "300x300")%></div>
<div class="work"><%=image_tag("project4.jpg", :alt => "IDA", :size => "300x300")%></div>
<div class="work"><%=image_tag("project5.jpg", :alt => "IDA", :size => "300x300")%></div>
<div class="work"><%=image_tag("project6.jpg", :alt => "IDA", :size => "300x300")%></div>
<div class="work"><%=image_tag("project7.jpg", :alt => "IDA", :size => "300x300")%></div>